[submodule "react-basic-monsters-rolodex"]
	path = react-basic-monsters-rolodex
	url = https://github.com/phorvicheka/react-basic-monsters-rolodex.git
[submodule "master-react-with-e-commerce-project"]
	path = master-react-with-e-commerce-project
	url = https://github.com/phorvicheka/master-react-with-e-commerce-project.git
